<!DOCTYPE html> 
<html> 
<head> 
  <title>Tasks Web Site</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/tasks.js"></script>
  <!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
  -->
</head> 
<body> 
  <!-- Any view without body -->
  {{{body}}}
</body> 
</html>